@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <h1>Shop</h1>
    <p>Welcome to the shop</p>
    <p>ID Token: @Model.Profile.IdToken</p>
    <p>Access token: @Model.Profile.AccessToken</p>
    <p>Expires on: @Model.Profile.ExpiresOn</p>
    <p>Refresh token: @Model.Profile.RefreshToken</p>
    <p>Name: @Model.Profile.Name</p>

    <p>Principal:</p>
    @foreach (var claim in Model.Principal!.Claims)
    {
        <p>@claim.Type: @claim.Value</p>
    }
</div>
